<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="{{ path('homepage') }}">IMMO</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarColor03">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="{{ path('homepage') }}">Accueil</a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" href="{{ path('ads_index') }}">Annonces</a>
          </li>
        </ul>
        <ul class="navbar-nav ml-auto">
          {% if app.user %}
            <li class="nav-item">
              <a href="{{ path('account_logout') }}" class="nav-link">Déconnexion</a>
            </li>
          {% else %}
          <li class="nav-item">
            <a href="{{ path('account_register') }}" class="nav-link">Inscription</a>
          </li>
          <li class="nav-item">
            <a href="{{ path('account_login') }}" class="nav-link">Connexionn</a>
          </li>
          {% endif %}
          
      </ul>

    </div>
  </nav>

  {% for label, messages in app.flashes %}{# etant donnée que flahsbag cest un tableau #}
    <div class="container">
      <div class="alert alert-{{ label }}">
        {% for message in messages %}
          <p>{{ message | raw }}</p> {# success ou danger dans flahshbag cest un tableau donc on utilise for #}
        {% endfor %}
      </div>
    </div>
  {% endfor %}
