{% block _annonce_images_widget %} 
{# inspecter le champ image ca donnera _ad_images . Nom_widget permet de modifier la sortie de form_widget sur un champ donnée #}

    <p>Ici vous pouvez ajouté vos propres images</p>

    {# ce widget nest pas global il est seulement dans le widget de _ad_images #}
    {{ form_widget(form) }} 
    <input type="hidden" id="widgets-counter" value="0">
   
    <div class="form-group">
        <button type="button" id="add-image" class="btn btn-primary">Ajouter une image</button>
    </div>
{% endblock %}

{# pour enlever les labeles 0 et 1 #}
{% block _annonce_images_entry_row %}

    {{ form_widget(form) }} 
{% endblock %}

{% block _annonce_images_entry_widget %}
    {# les sous formulaire , les entré de la collection #}
    <div class="form-group" id="block_{{id}}">
        <div class="row">
            <div class="col-10">
                <div class="row">
                    <div class="col">
                        {{ form_widget(form.url) }}
                        {{ form_errors(form.url) }}
                    </div>
                    <div class="col">
                        {{ form_widget(form.caption) }}
                        {{ form_errors(form.caption) }}
                    </div>
                </div>
            </div>
            <div class="col-2">
                <button type="button" data-action="delete" data-target="#block_{{id}}" class="btn btn-danger">X</button>
            </div>
            </div>
        </div>
        
{% endblock %}